**/.git
**/.gitignore
**/.idea
**/.vscode
**/.DS_STORE
**/*.md
**/*.log
**/.env*
**/next-env.d.ts
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/node_modules
**/.next
**/build
**/*.tsbuildinfo
**/tests
!**/tests/bootstrap.ts
**/coverage
**/tmp
**/.editorconfig
**/.prettierignore
**/.prettierrc.js
**/.prettierrc
**/eslint.config.js
**/eslint.config.mjs
